In [1]:
import pandas as pd
import numpy as np

In [55]:
# importado con nombre original.
internet_prov = pd.read_csv('Internet_Penetracion.csv')
internet_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           816 non-null    int64
 1   Trimestre                     816 non-null    int64
 2   Provincia                     816 non-null    object
 3   Accesos por cada 100 hogares  816 non-null    object
dtypes: int64(2), object(2)
memory usage: 25.6+ KB

In [89]:
internet_prov.to_csv('internet.csv',index= False ,sep=';')

In [40]:
internet_tech_prov = pd.read_csv('Internet_Accesos-por-tecnologia.csv')
internet_tech_prov

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,2,Buenos Aires,350.652,2.719.613,1.399.043,126.847,71.028,4.667.183
1,2022,2,Capital Federal,145.491,1.232.226,121.506,5.757,31.791,1.536.771
2,2022,2,Catamarca,11.928,9.430,42.087,1.329,2.234,67.008
3,2022,2,Chaco,29.552,61.284,42.194,8.178,2.356,143.564
4,2022,2,Chubut,45.377,69.242,9.574,29.784,8.828,162.805
...,...,...,...,...,...,...,...,...,...
812,2014,1,Santa Fe,322.662,174.296,3.059,5.951,644.000,506.612
813,2014,1,Santiago Del Estero,32.567,3.598,19,915.000,34.000,37.133
814,2014,1,Tierra Del Fuego,21.618,2.837,648,1.000,2.934,28.038
815,2014,1,Tucumán,129.717,83,121,13.000,98.000,130.032
816,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
internet_tech_prov.drop(816, inplace=True)
internet_tech_prov

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,2,Buenos Aires,350.652,2.719.613,1.399.043,126.847,71.028,4.667.183
1,2022,2,Capital Federal,145.491,1.232.226,121.506,5.757,31.791,1.536.771
2,2022,2,Catamarca,11.928,9.430,42.087,1.329,2.234,67.008
3,2022,2,Chaco,29.552,61.284,42.194,8.178,2.356,143.564
4,2022,2,Chubut,45.377,69.242,9.574,29.784,8.828,162.805
...,...,...,...,...,...,...,...,...,...
811,2014,1,Santa Cruz,18.927,100,381,4.092,3.264,26.764
812,2014,1,Santa Fe,322.662,174.296,3.059,5.951,644.000,506.612
813,2014,1,Santiago Del Estero,32.567,3.598,19,915.000,34.000,37.133
814,2014,1,Tierra Del Fuego,21.618,2.837,648,1.000,2.934,28.038
815,2014,1,Tucumán,129.717,83,121,13.000,98.000,130.032

In [42]:
internet_tech_prov['Año'].value_counts()

2021      96
2020      96
2018      96
2017      96
2016      96
2015      96
2014      96
2019 *    72
2022      48
2019      24
Name: Año, dtype: int64

In [73]:
internet_tech_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           816 non-null    object
 1   Trimestre     816 non-null    object
 2   Provincia     816 non-null    object
 3   ADSL          816 non-null    object
 4   Cablemodem    816 non-null    object
 5   Fibra óptica  816 non-null    object
 6   Wireless      816 non-null    float64
 7   Otros         816 non-null    float64
 8   Total         816 non-null    object
dtypes: float64(2), object(7)
memory usage: 57.5+ KB

In [43]:
internet_tech_prov['Año'] = internet_tech_prov['Año'].replace('2019 *', '2019')
internet_tech_prov['Año'].value_counts()

2021    96
2020    96
2019    96
2018    96
2017    96
2016    96
2015    96
2014    96
2022    48
Name: Año, dtype: int64

In [46]:
#internet_tech_prov.info()
internet_tech_prov['Trimestre'].value_counts()

2      192
1      192
4      192
3      168
3 *     24
2 *     24
1 *     24
Name: Trimestre, dtype: int64

In [56]:
internet_tech_prov['Trimestre'] = internet_tech_prov['Trimestre'].replace('3 *', '3')
internet_tech_prov['Trimestre'] = internet_tech_prov['Trimestre'].replace('2 *', '2')
internet_tech_prov['Trimestre'] = internet_tech_prov['Trimestre'].replace('1 *', '1')

In [74]:
internet_tech_prov['Trimestre'].value_counts()

2    216
1    216
4    192
3    192
Name: Trimestre, dtype: int64

In [75]:
internet_tech_prov['Provincia'].value_counts()

Buenos Aires           34
Capital Federal        34
Tierra Del Fuego       34
Santiago Del Estero    34
Santa Fe               34
Santa Cruz             34
San Luis               34
San Juan               34
Salta                  34
Río Negro              34
Neuquén                34
Misiones               34
Mendoza                34
La Rioja               34
La Pampa               34
Jujuy                  34
Formosa                34
Entre Ríos             34
Corrientes             34
Córdoba                34
Chubut                 34
Chaco                  34
Catamarca              34
Tucumán                34
Name: Provincia, dtype: int64

In [64]:
internet_tech_prov.sort_values(by=['ADSL'], ascending=False)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
71,2021,4,Tucumán,97.830,59.022,78.790,2.511,486.000,238.639
295,2019,2,Entre Ríos,97.081,91.081,12.764,17.369,17.529,235.824
252,2019,4,Mendoza,96.678,49.711,24.989,13.672,730.000,185.780
271,2019,3,Entre Ríos,94.947,96.305,12.888,18.530,15.432,238.102
247,2019,4,Entre Ríos,92.981,99.206,12.875,18.561,15.407,239.030
...,...,...,...,...,...,...,...,...,...
312,2019,1,Buenos Aires,1.304.507,2.020.730,336.362,64.867,20.201,3.746.667
456,2017,3,Buenos Aires,1.288.025,1.571.180,124.920,35.058,38.777,3.057.960
288,2019,2,Buenos Aires,1.284.658,2.079.900,382.971,75.240,32.929,3.855.698
264,2019,3,Buenos Aires,1.277.249,2.144.956,425.386,85.572,27.070,3.960.233
432,2017,4,Buenos Aires,1.241.172,1.718.013,131.181,60.082,31.448,3.181.896

In [76]:
internet_tech_prov['ADSL'].value_counts()

48.670     9
22.636     9
11.432     9
12.754     6
12.853     4
          ..
24.349     1
50.416     1
37.298     1
307.780    1
129.717    1
Name: ADSL, Length: 730, dtype: int64

In [77]:
internet_tech_prov['Cablemodem'].value_counts()

34.984       15
451          14
0            14
13.030       13
3.900         7
             ..
70.424        1
25.632        1
10.494        1
2.191.672     1
83            1
Name: Cablemodem, Length: 705, dtype: int64

In [67]:
internet_tech_prov.sort_values(by=['Cablemodem'], ascending=False)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
508,2017,1,Chubut,43.994,999,916,13.194,4.793,63.896
64,2021,4,Salta,46.972,99.808,39.555,5.882,7.188,199.405
199,2020,2,Entre Ríos,89.391,99.423,13.954,20.042,11.303,234.113
247,2019,4,Entre Ríos,92.981,99.206,12.875,18.561,15.407,239.030
40,2022,1,Salta,44.714,98.667,40.994,5.950,7.190,197.515
...,...,...,...,...,...,...,...,...,...
683,2015,2,La Rioja,16.463,0,16,2.000,28.000,16.509
779,2014,2,La Rioja,15.864,0,14,0.000,34.000,15.912
707,2015,1,La Rioja,16.282,0,16,2.000,33.000,16.333
731,2014,4,La Rioja,16.352,0,17,0.000,33.000,16.402
491,2017,2,La Rioja,16.244,0,15,2.000,28.000,16.289

In [68]:
internet_tech_prov.sort_values(by=['Fibra óptica'], ascending=True)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
227,2020,1,La Rioja,13.076,34.984,0,251.000,29.000,48.340
800,2014,1,Formosa,20.774,4.548,0,0.000,100.000,25.422
776,2014,2,Formosa,20.894,4.628,0,0.000,78.000,25.600
752,2014,3,Formosa,21.021,4.836,0,0.000,80.000,25.937
262,2019,4,Tierra Del Fuego,13.261,26.821,0,0.000,310.000,40.392
...,...,...,...,...,...,...,...,...,...
283,2019,3,Santa Cruz,10.663,17.056,969,6.544,2.738,37.970
806,2014,1,Neuquén,47.790,28.161,997,10.381,3.051,90.380
782,2014,2,Neuquén,47.767,29.776,997,10.765,2.983,92.288
398,2018,2,Neuquén,46.633,52.855,998,12.649,2.713,115.848
374,2018,3,Neuquén,46.602,54.129,998,12.277,2.712,116.718

In [78]:
internet_tech_prov['Fibra óptica'].value_counts()

19        17
116       13
16        13
15        12
22        12
          ..
24.289     1
10.382     1
11.037     1
29.613     1
3.059      1
Name: Fibra óptica, Length: 573, dtype: int64

In [70]:
internet_tech_prov.sort_values(by=['Wireless'], ascending=True)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
794,2014,1,Catamarca,24.126,46,17,0.0,43.000,24.232
731,2014,4,La Rioja,16.352,0,17,0.0,33.000,16.402
513,2017,1,Jujuy,33.869,9.278,22,0.0,34.000,43.203
681,2015,2,Jujuy,32.183,5.482,22,0.0,35.000,37.722
746,2014,3,Catamarca,24.380,244,15,0.0,47.000,24.686
...,...,...,...,...,...,...,...,...,...
813,2014,1,Santiago Del Estero,32.567,3.598,19,915.0,34.000,37.133
741,2014,4,Santiago Del Estero,34.110,4.231,19,920.0,37.000,39.317
225,2020,1,Jujuy,32.066,38.938,3.078,942.0,16.641,91.665
177,2020,3,Jujuy,32.611,57.682,11.112,952.0,4.371,106.728
201,2020,2,Jujuy,32.705,38.938,5.057,952.0,16.664,94.316

In [79]:
internet_tech_prov['Wireless'].value_counts()

0.000      38
1.000      36
5.000      13
2.000      11
52.000      8
           ..
6.239       1
3.911       1
85.443      1
1.357       1
915.000     1
Name: Wireless, Length: 581, dtype: int64

In [85]:
internet_tech_prov.to_csv('tech_prov.csv',index= False ,sep=';')

In [93]:
ingresos = pd.read_csv('Internet_Ingresos.csv')
ingresos

     Año  Trimestre Ingresos (miles de pesos)        Periodo
0   2022          2                60.942.843   Abr-Jun 2022
1   2022          1                56.195.811   Ene-Mar 2022
2   2021          4                45.467.887   Oct-Dic 2021
3   2021          3                42.999.944  Jul-Sept 2021
4   2021          2                38.239.667   Abr-Jun 2021
5   2021          1                36.676.371   Ene-Mar 2021
6   2020          4                33.539.703   Oct-Dic 2020
7   2020          3                31.997.445  Jul-Sept 2020
8   2020          2                32.102.476   Abr-Jun 2020
9   2020          1                29.946.216   Ene-Mar 2020
10  2019          4                24.169.251   Oct-Dic 2019
11  2019          3                21.652.748  Jul-Sept 2019
12  2019          2                20.743.118   Abr-Jun 2019
13  2019          1                20.207.414   Ene-Mar 2019
14  2018          4                16.637.687   Oct-Dic 2018
15  2018          3                15.410.981  Jul-Sept 2018
16  2018          2                14.319.467   Abr-Jun 2018
17  2018          1                13.171.459   Ene-Mar 2018
18  2017          4                11.226.127   Oct-Dic 2017
19  2017          3                10.065.998  Jul-Sept 2017
20  2017          2                 9.678.647   Abr-Jun 2017
21  2017          1                 8.701.201   Ene-Mar 2017
22  2016          4                 7.483.980   Oct-Dic 2016
23  2016          3                 6.912.442  Jul-Sept 2016
24  2016          2                 6.534.241   Abr-Jun 2016
25  2016          1                 5.936.845   Ene-Mar 2016
26  2015          4                 5.376.899   Oct-Dic 2015
27  2015          3                 5.153.739  Jul-Sept 2015
28  2015          2                 4.701.791   Abr-Jun 2015
29  2015          1                 4.876.385   Ene-Mar 2015
30  2014          4                 3.950.441   Oct-Dic 2014
31  2014          3                 3.478.638  Jul-Sept 2014
32  2014          2                 3.270.816   Abr-Jun 2014
33  2014          1                 2.984.054   Ene-Mar 2014